<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Video Game News, Reviews, and Walkthroughs - IGN</title>
  <script src="https://use.fontawesome.com/dc0aed5d86.js"></script>
  <link rel="stylesheet" href="/CSS/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
</head>

<body>


    <div class="container spc">
      <nav class="navbar bg-transparent navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img src="/images/ign1.png" width="175" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav navbar-right ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Store <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Videos</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/reviews">Reviews</a>
            </li>
    
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Yet to be Added</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item">
            </li>
          </ul>
          <button class="btn btn-danger" type="submit">Sign In</button>

        </div>
      </nav>
    </div>
