<div class="col-lg-3 wpg">
  <div class="row mrow">
    <h6>Latest</h6>
  </div>
  <div class="row">
    <h6>Videos</h6>
  </div>
  <div class="row">
    <h6>Games</h6>
  </div>
  <div class="row">
    <h6>Movies</h6>
  </div>
  <div class="row">
    <h6>TV</h6>
  </div>
  <div class="row">
    <h6>Comics</h6>
  </div>
  <div class="row">
    <h6>Playstation</h6>
  </div>
  <div class="row">
    <h6>Xbox</h6>
  </div>
  <div class="row">
    <h6>Nintendo</h6>
  </div>
  <div class="row">
    <h6>Tech</h6>
  </div>

</div>
