<%- include("partials/header"); -%>



<div class="container">
  <div class="artheader">
    <h1> <%=article.title%></h1>
    <h4 class="artsubtitle">This is a title caption about the article.</h4>
    <p class="author">By: Wepages</p>
  </div>
  <hr class="fullhr">
</div>

<div class="container">
  <div class="artbody">
    <p> <%= article.body %> </p>
  </div>
</div>





<%- include("partials/footer"); -%>
