<%- include("partials/header"); -%>

<section>
  <div class="artheader">
    <h1>This is the Title of This Article</h1>
    <h4>This is a title caption about the article.</h4>
    <p>By: Wepages</p>
  </div>
</section>





<%- include('partials/footer'); -%>
