<%- include("partials/header"); -%>

  <!----- NAVBAR ----->

  <div class="container spc">
    <nav class="navbar bg-transparent navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="images/ign1.png" width="175" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-right ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Store <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Videos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Boards</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Wikis</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Yet to be Added</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <button class="btn btn-danger" type="submit">Sign In</button>

      </div>
    </nav>
  </div>

  <!----- Top Stories ----->

  <div class="container-fluid jsx1">
    <div class="container">
      <div class="row header-stories">
        <div class="card-deck">
          <div class="card bg-dark text-white" style="width: 20rem;">
            <img class="card-img" src="/images/mma.jpg" alt="Card image">
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <div class="mmx">
                <h5 class="card-title">Why Mega Man X is Definitely the Best Mega Man Game</h5>
              </div>
            </div>
          </div>
          <div class="card bg-dark text-white" style="width: 20rem;">
            <img class="card-img" src="/images/loz.jpg" alt="Card image">
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <div class="botw">
                <h5 class="card-title">50 Reasons Why You Shouldn't Listen to Buzzfeed Ever in Regards to Anything</h5>
              </div>
            </div>
          </div>
          <div class="card bg-dark text-white" style="width: 20rem;">
            <img class="card-img" src="/images/me.jpg" alt="Card image">
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <div class="me1">
                <h5 class="card-title">Mass Effect Legendary Edition Review: The Same But Slightly Better</h5>
              </div>
            </div>
          </div>
          <div class="card bg-dark text-white" style="width: 20rem;">
            <img class="card-img" src="/images/lotr.jpg" alt="Card image">
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <div class="lotr">
                <h5 class="card-title">LOTR: The Fellowship of the Ring, Cast Revisited, Again</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid jsx2">
    <div class="container">
      <div class="row today-header">
        <h2 class="tts">Today's Top Stories</h2>
      </div>
      <div class="row today">
        <div class="card-deck">
          <div class="card" style="width: 18rem;">
            <img class="card-img timg" src="images/poke.jpg" alt="Card image cap">
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img timg" src="images/marv.jpg" alt="Card image cap">
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img timg" src="images/twit.jpg" alt="Card image cap">
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img timg" src="images/cons.jpg" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid jsx2">
    <div class="container">
      <div class="row">
        <div class="card-deck">
          <div class="card bg-dark text-white subcard" style="width: 18rem;">
            <h5>Here's Why Pokemon Cards Still Sell</h5>
          </div>
          <div class="card bg-dark text-white subcard" style="width: 18rem;">
            <h5>When will the MCU End?</h5>
          </div>
          <div class="card bg-dark text-white subcard" style="width: 18rem;">
            <h5>Why You Should Care What Companies Want You Back in Office</h5>
          </div>
          <div class="card bg-dark text-white subcard" style="width: 18rem;">
            <h5>This Console Has Officially Won the Console War</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container jsx4">
    <div class="row">
      <h2>Latest News</h2>
    </div>
    <hr class="lhr">
    <div class="row rowh">
      <div class="col-lg-3 wpg">
        <div class="row mrow">
          <h6>Latest</h6>
        </div>
        <div class="row">
          <h6 class="fa fa-video-camera" aria-hidden="true"> Videos</h6>
        </div>
        <div class="row">
          <h6>Games</h6>
        </div>
        <div class="row">
          <h6>Movies</h6>
        </div>
        <div class="row">
          <h6>TV</h6>
        </div>
        <div class="row">
          <h6>Comics</h6>
        </div>
        <div class="row">
          <h6>Playstation</h6>
        </div>
        <div class="row">
          <h6>Xbox</h6>
        </div>
        <div class="row">
          <h6>Nintendo</h6>
        </div>
        <div class="row">
          <h6>Tech</h6>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="row artro">
          <div class="col-lg-6">
            <img class="timg" src="images/dcr.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <h4>DC Comics Reboot the Universe, Again?</h4>
          </div>
        </div>
        <hr class="slhr">
        <div class="row artro">
          <div class="col-lg-6">
            <img class="timg" src="images/gvs.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <h4>Victor Officially Announced: Goku VS. Superman</h4>
          </div>
        </div>
        <hr class="slhr">
        <div class="row artro">
          <div class="col-lg-6">
            <img class="timg" src="images/tsvg.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <h4>Is Twitch Still a Video Game Streaming Webite?</h4>
          </div>
        </div>
        <hr class="slhr">
      </div>
    </div>
  </div>



<%- include('partials/footer'); -%>
