body {
  background-color: #252627 !important;
}

h2 {
  color: white;
  text-align: left;
  padding-bottom: 1%;
}

.navbar {
  padding-top: 2% !important;
  padding-bottom: 2% !important; 
}

.jsx1 {
  padding-bottom: 3%;
}

.jsx2 {
  background-color: #353A3F;
  padding-bottom: 3%;
}
.card-img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.header-stories {
  justify-content: center;
  background-color: #252627;
}

.today {
  justify-content: center;
  background-color: #353A3F;
}

.today-header {
  background-color: #353A3F;
  padding-top: 2%;
  padding-left: 2%;

}
